/* CSS Document */
<style>
/*Style Header*/
/*.Menu 
{position: absolute;
left: 0%;
right: -0.01%;
top: 0%;
bottom: 93.09%;}
.Auth 
{position: absolute;
left: 81.47%;
right: 0%;
top: 0.65%;
bottom: 93.09%;}
.YourDownloads
{position: absolute;
height: 27px;
left: 552px;
right: 574px;
top: 0px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;

color: #FFFFFF;}
.CreateButtonMenu 
{position: absolute;
height: 43px;
left: 356px;
right: 872px;
top: 0px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
text-decoration-line: underline;

color: #FFFFFF;}
.Gallery
{position: absolute;
height: 36px;
left: 160px;
right: 1080px;
top: 0px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;

color: #FFFFFF;}
.MainMenu
{position: absolute;
height: 48.73px;
left: 0px;
right: -0.12px;
top: 0px;

background: #64CEC1;}*/
/*Body Style*/
.Body2
{}
.Body
{margin-top: 150px;}
.ImageHeader
{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 33px;
margin-left: 20px;
color: #15A08F;}
.OriginalImage
{
height: 300px;
margin-left: 20px;
margin-right: 20px;

background: #FCFCFC;
border: 1px solid #9A9A9A;
box-sizing: border-box;}
.ContentImage
{
height: 300px;
margin-left: 20px;
margin-right: 20px;

background: #D8D8D8;
border: 1px solid #9A9A9A;
box-sizing: border-box;}
.InscriptionBox
{position: absolute;
 width: 100%;
 height: 50%;
left: 728.16px;
top: 285.78px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #FFFFFF;}
/*.Image
{position: absolute;
left: 17.21%;
right: 66.52%;
top: 28.04%;
bottom: 42.76%;

background: url(image.png);}*/
/*Button style*/
.CreateButton
{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 33px;
text-align: center;

color: #2BBDAB;
margin-left: 34px;
margin-top: 40px;}
/*.LabelCreateButton
{position: absolute;
left: 40.15%;
right: 40.07%;
top: 69.88%;
bottom: 24.25%;


background: #ECF9F9;
border: 1px solid #2BBDAB;
box-sizing: border-box;
border-radius: 40px;}*/

/*Upload*/
#upload-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	outline: 2px dashed #5d5d5d;
	outline-offset: -12px;
	background-color: #FCFCFC;
	font-family: 'Segoe UI';
	color: #1f3c44;
}

#upload-container img {
	width: 80px;
	margin-bottom: 20px;
	user-select: none;
}

#upload-container label {
	font-weight: bold;
}

#upload-container label:hover {
	cursor: pointer;
	text-decoration: underline;
}

#upload-container div {
	position: relative;
	z-index: 10;
}

/*#upload-container input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	position: absolute;
	z-index: -10;
}*/

#upload-container label.focus {
	outline: 1px solid #0078d7;
	outline: -webkit-focus-ring-color auto 5px;
}

#upload-container.dragover {
	background-color: #fafafa;
	outline-offset: -17px;
}

#upload-container2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	outline: 2px dashed #5d5d5d;
	outline-offset: -12px;
	background-color: #D8D8D8;
	font-family: 'Segoe UI';
	color: #1f3c44;
}

#upload-container2 img {
	width: 80px;
	margin-bottom: 20px;
	user-select: none;
}

#upload-container2 label {
	font-weight: bold;
}

#upload-container2 label:hover {
	cursor: pointer;
	text-decoration: underline;
}

#upload-container2 div {
	position: relative;
	z-index: 10;
}

/*#upload-container2 input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	position: absolute;
	z-index: -10;
}*/

#upload-container2 label.focus {
	outline: 1px solid #0078d7;
	outline: -webkit-focus-ring-color auto 5px;
}

#upload-container2.dragover {
	background-color: #fafafa;
	outline-offset: -17px;
}




</style>
